<%= form_with(model: @post, local: true) do |form| %>
  <div class="blog_content">
    <%= form.label :ツイート内容 %><br>
    <%= form.text_area :content ,placeholder: "いまどうしてる？",size: "28x5" %>
  </div>
  <%= form.submit :ツイートする %>
<% end %>
