body {
  padding-top: 150px;
  text-align: center;
}
header {
  width: 100%;
  padding: 30px 4% 30px;
  background-color: #D7EEFF;
  position: fixed;
  top: 0;
  height: 75px;
  display: flex;
  align-items: center;
}
header h1 {
  margin: 0; padding: 0;
  font-size: 25px;
}
header a {
  text-decoration: none;
  color: #fff;
}
header ul {
  list-style: none;
  margin: 0;
  display: flex;
}
header li {
  margin: 0 0 0 15px;
  font-size: 15px;
}
header nav {
  margin: 0 0 0 auto;
}
table {
  margin-left: auto;
  margin-right: auto;
  border: solid 1px;
}
footer {
  width: 100%;
  background-color:#D7EEFF;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}
footer p {
  text-align: center;
}
