body {
  padding-top: 150px;
}
header {
  width: 100%;
  background-color: #D7EEFF;
  position: fixed;
  top: 0;
  height: 75px;
}


footer {
  width: 100%;
  background-color:#D7EEFF;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}
footer p {
  text-align: center;
}
